<!--<ion-header>-->
  <!--<ion-toolbar>-->
    <!--<ion-title>Be a Volunteer</ion-title>-->
  <!--</ion-toolbar>-->
<!--</ion-header>-->

<!--<ion-content padding>-->
  <!--<ion-list>-->

    <!--<ion-item>-->
      <!--<ion-label floating>District</ion-label>-->
      <!--<ion-input type="text"></ion-input>-->
    <!--</ion-item>-->

    <!--<ion-item>-->
      <!--<ion-label floating>Landline</ion-label>-->
      <!--<ion-input type="text"></ion-input>-->
    <!--</ion-item>-->

    <!--<ion-item>-->
      <!--<ion-label floating>Any Post Held 1</ion-label>-->
      <!--<ion-input type="text"></ion-input>-->
    <!--</ion-item>-->

    <!--<ion-item>-->
      <!--<ion-label floating>Any Post Held 2</ion-label>-->
      <!--<ion-input type="text"></ion-input>-->
    <!--</ion-item>-->

    <!--<ion-item>-->
      <!--<ion-label floating>Any Post Held 3</ion-label>-->
      <!--<ion-input type="text"></ion-input>-->
    <!--</ion-item>-->

  <!--</ion-list>-->
  <!--<ion-row>-->
    <!--<button ion-button>Register</button>-->
    <!--<button ion-button>Cancel</button>-->
  <!--</ion-row>-->
<!--</ion-content>-->
