<!--<ion-header></ion-header>-->
<!--<ion-content padding>-->
  <!--<ion-grid>-->
    <!--<ion-row>-->
      <!--<ion-col col-12>-->
        <!--Need: Food, Tuition, School Bag-->
      <!--</ion-col>-->
    <!--</ion-row>-->
    <!--<ion-row>-->
      <!--<ion-col col-12>-->
        <!--<ion-icon name="person"></ion-icon>-->
        <!--Basic info-->
      <!--</ion-col>-->
    <!--</ion-row>-->
    <!--<ion-list>-->
      <!--<ion-item>-->
        <!--<ion-label stacked>Male</ion-label>-->
        <!--<ion-label>Gender</ion-label>-->
      <!--</ion-item>-->
      <!--<ion-item>-->
        <!--<ion-label stacked>28 May 1993 (Age 9)</ion-label>-->
        <!--<ion-label >Birthday</ion-label>-->
      <!--</ion-item>-->
      <!--<ion-item>-->
        <!--<ion-label stacked>KLang Utama, Kuala Lumpur</ion-label>-->
        <!--<ion-label >Location</ion-label>-->
      <!--</ion-item>-->
    <!--</ion-list>-->
  <!--</ion-grid>-->
<!--</ion-content>-->
