<!--<ion-header>-->
  <!--<ion-toolbar>-->
    <!--<ion-buttons left>-->
      <!--<button ion-button icon-only (click)="clickBack()">-->
        <!--<ion-icon name="arrow-back"></ion-icon>-->
      <!--</button>-->
    <!--</ion-buttons>-->
    <!--<ion-buttons center>-->
      <!--<button color="secondary" ion-button (click)="showHideMe()">Donate</button>-->
    <!--</ion-buttons>-->
    <!--<ion-buttons right>-->
      <!--<button ion-button icon-only (click)="sharingClick($event)">-->
        <!--<ion-icon name="share"></ion-icon>-->
      <!--</button>-->
    <!--</ion-buttons>-->
  <!--</ion-toolbar>-->
<!--</ion-header>-->

<!--<ion-content>-->
  <!--<div class="profile-image-container">-->
    <!--<img class="cover-background"-->
         <!--src="http://i66.tinypic.com/f1e682.jpg"/>-->
    <!--<div class="profile-photo">-->
      <!--<ion-row>-->
        <!--<ion-col>-->
          <!--<img src="http://i63.tinypic.com/1y7mtd.png"/>-->
        <!--</ion-col>-->
        <!--<ion-col>-->
          <!--<div class="profile-username">-->
            <!--<div>Nellyjldkfldkjfkldjfldjslkfjd</div>-->
          <!--</div>-->
        <!--</ion-col>-->
      <!--</ion-row>-->
    <!--</div>-->
  <!--</div>-->

  <!--<ion-content class="no-vertical-scroll">-->
    <!--<ion-tabs [tabsPlacement]="'top'">-->
      <!--<ion-tab [root]="aboutChildPage" tabTitle="{{'TITLE_ABOUT' | translate}}"></ion-tab>-->
      <!--<ion-tab [root]="childDonate" tabTitle="{{'TITLE_PHOTO_VIDEO' | translate}}"></ion-tab>-->
      <!--<ion-tab [root]="guardianProfile" tabTitle="{{'TITLE_GUARDIAN' | translate}}"></ion-tab>-->
      <!--<ion-tab [root]="childDonate" tabTitle="{{'TITLE_ITEM_DONATE_LISTING' | translate}}"></ion-tab>-->
    <!--</ion-tabs>-->
  <!--</ion-content>-->


<!--</ion-content>-->
