<ion-content padding>
  <ion-row>
    <ion-col [size]="12">
      <br/>
      <br/>
      <br/>
      <br/>
      <br/>
      <br/>
      <br/>
      <br/>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col [size]="12" style="font-size: 25px">
      <ion-label style="white-space: pre-line" class="inputLocation">Giving to others increases your capacity for love</ion-label>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col [size]="12">
      <br/>
      <br/>
      <br/>
      <br/>
      <br/>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col [size]="12" class="text-center">
      <ion-button  color="secondary" (click)="ngOnStartClicked()">{{'TITLE_START_NOW' | translate}}</ion-button>
    </ion-col>
  </ion-row>
</ion-content>
