<!--<ion-header>-->
  <!--<ion-toolbar>-->
    <!--<ion-title>-->
      <!--My Favourites-->
    <!--</ion-title>-->
  <!--</ion-toolbar>-->
<!--</ion-header>-->


<!--<ion-content padding>-->
  <!--<ion-grid>-->
    <!--<ion-row align-items-center>-->
      <!--<ion-col col-3>-->
        <!--<ion-img src="https://www.acfteambuilding.co.uk/images/activity_days/shooting/sniper.jpg" width="50" height="50" style="border-radius:50%;">-->
        <!--</ion-img>-->
      <!--</ion-col>-->
      <!--<ion-col col-5>-->
        <!--<p style="font-weight: bold; margin: 0px">-->
          <!--João Firmino-->
        <!--</p>-->
        <!--<span style="color: #D6D6D6" ion-textclass="text text-md text-md-light">Customer</span>-->
      <!--</ion-col>-->
      <!--<ion-col col-4>-->
        <!--<button ion-button color="secondary" small>Following</button>-->
      <!--</ion-col>-->
    <!--</ion-row>-->
    <!--<ion-row align-items-center>-->
      <!--<ion-col col-3>-->
        <!--<ion-img src="https://www.acfteambuilding.co.uk/images/activity_days/shooting/sniper.jpg" width="50" height="50" style="border-radius:50%;">-->
        <!--</ion-img>-->
      <!--</ion-col>-->
      <!--<ion-col col-5>-->
        <!--<p style="font-weight: bold; margin: 0px">-->
          <!--joyhardin-->
        <!--</p>-->
        <!--<span style="color: #D6D6D6" ion-textclass="text text-md text-md-light">user</span>-->
      <!--</ion-col>-->
      <!--<ion-col col-4>-->
        <!--<button ion-button color="secondary" small>Following</button>-->
      <!--</ion-col>-->
    <!--</ion-row>-->
    <!--<ion-row align-items-center>-->
      <!--<ion-col col-3>-->
        <!--<ion-img src="https://www.acfteambuilding.co.uk/images/activity_days/shooting/sniper.jpg" width="50" height="50" style="border-radius:50%;">-->
        <!--</ion-img>-->
      <!--</ion-col>-->
      <!--<ion-col col-5>-->
        <!--<p style="font-weight: bold; margin: 0px">-->
          <!--annuar-->
        <!--</p>-->
        <!--<span style="color: #D6D6D6" ion-textclass="text text-md text-md-light">user</span>-->
      <!--</ion-col>-->
      <!--<ion-col col-4>-->
        <!--<button ion-button color="secondary" small>Following</button>-->
      <!--</ion-col>-->
    <!--</ion-row>-->
    <!--<ion-row align-items-center>-->
      <!--<ion-col col-3>-->
        <!--<ion-img src="https://www.acfteambuilding.co.uk/images/activity_days/shooting/sniper.jpg" width="50" height="50" style="border-radius:50%;">-->
        <!--</ion-img>-->
      <!--</ion-col>-->
      <!--<ion-col col-5>-->
        <!--<p style="font-weight: bold; margin: 0px">-->
          <!--fatin-->
        <!--</p>-->
        <!--<span style="color: #D6D6D6" ion-textclass="text text-md text-md-light">user</span>-->
      <!--</ion-col>-->
      <!--<ion-col col-4>-->
        <!--<button ion-button color="secondary" small>Following</button>-->
      <!--</ion-col>-->
    <!--</ion-row>-->
    <!--<ion-row align-items-center>-->
      <!--<ion-col col-3>-->
        <!--<ion-img src="https://www.acfteambuilding.co.uk/images/activity_days/shooting/sniper.jpg" width="50" height="50" style="border-radius:50%;">-->
        <!--</ion-img>-->
      <!--</ion-col>-->
      <!--<ion-col col-5>-->
        <!--<p style="font-weight: bold; margin: 0px">-->
          <!--zaza-->
        <!--</p>-->
        <!--<span style="color: #D6D6D6" ion-textclass="text text-md text-md-light">user</span>-->
      <!--</ion-col>-->
      <!--<ion-col col-4>-->
        <!--<button ion-button color="secondary" small>Following</button>-->
      <!--</ion-col>-->
    <!--</ion-row>-->
    <!--<ion-row align-items-center>-->
      <!--<ion-col col-3>-->
        <!--<ion-img src="https://www.acfteambuilding.co.uk/images/activity_days/shooting/sniper.jpg" width="50" height="50" style="border-radius:50%;">-->
        <!--</ion-img>-->
      <!--</ion-col>-->
      <!--<ion-col col-5>-->
        <!--<p style="font-weight: bold; margin: 0px">-->
          <!--zaza-->
        <!--</p>-->
        <!--<span style="color: #D6D6D6" ion-textclass="text text-md text-md-light">user</span>-->
      <!--</ion-col>-->
      <!--<ion-col col-4>-->
        <!--<button ion-button color="secondary" small>Following</button>-->
      <!--</ion-col>-->
    <!--</ion-row>-->
    <!--<ion-row align-items-center>-->
      <!--<ion-col col-3>-->
        <!--<ion-img src="https://www.acfteambuilding.co.uk/images/activity_days/shooting/sniper.jpg" width="50" height="50" style="border-radius:50%;">-->
        <!--</ion-img>-->
      <!--</ion-col>-->
      <!--<ion-col col-5>-->
        <!--<p style="font-weight: bold; margin: 0px">-->
          <!--zaza-->
        <!--</p>-->
        <!--<span style="color: #D6D6D6" ion-textclass="text text-md text-md-light">user</span>-->
      <!--</ion-col>-->
      <!--<ion-col col-4>-->
        <!--<button ion-button color="secondary" small>Following</button>-->
      <!--</ion-col>-->
    <!--</ion-row>-->
    <!--<ion-row align-items-center>-->
      <!--<ion-col col-3>-->
        <!--<ion-img src="https://www.acfteambuilding.co.uk/images/activity_days/shooting/sniper.jpg" width="50" height="50" style="border-radius:50%;">-->
        <!--</ion-img>-->
      <!--</ion-col>-->
      <!--<ion-col col-5>-->
        <!--<p style="font-weight: bold; margin: 0px">-->
          <!--zaza-->
        <!--</p>-->
        <!--<span style="color: #D6D6D6" ion-textclass="text text-md text-md-light">user</span>-->
      <!--</ion-col>-->
      <!--<ion-col col-4>-->
        <!--<button ion-button color="secondary" small>Following</button>-->
      <!--</ion-col>-->
    <!--</ion-row>-->
  <!--</ion-grid>-->
<!--</ion-content>-->
