<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title class="text-center">{{'TITLE_PROFILE' | translate}}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="profile-image-container">
        <img class="cover-background"
             src="http://i66.tinypic.com/f1e682.jpg"/>
        <div class="profile-photo">
            <ion-row>
                <ion-col>
                    <div class="photo-container">
                        <img [src]="profilePhoto | toTrustedUrl"
                             alt="Profile photo"/>
                    </div>
                </ion-col>
                <ion-col>
                    <div class="profile-username">
                        <div>Nellyjldkfldkjfkldjfldjslkfjd</div>
                    </div>
                </ion-col>
            </ion-row>
        </div>
    </div>

    <ion-tabs>
        <ion-tab-bar slot="bottom">
            <ion-tab-button (click)="clickSettings()">
                <ion-label>{{'TITLE_SETTINGS' | translate}}</ion-label>
                <ion-icon name="settings"></ion-icon>
            </ion-tab-button>
        </ion-tab-bar>
    </ion-tabs>
</ion-content>




