<!--<ion-content padding>-->
  <!--<ion-grid>-->
    <!--<ion-row align-items-center>-->
      <!--<ion-col col-2>-->
        <!--<ion-icon style="color: #32db64" ios="logo-apple" md="logo-android"></ion-icon>-->
      <!--</ion-col>-->
      <!--<ion-col col-5>-->
        <!--<ion-label>School Bag</ion-label>-->
      <!--</ion-col>-->
      <!--<ion-col col-2>-->
        <!--<ion-label>30</ion-label>-->
      <!--</ion-col>-->
      <!--<ion-col col-3>-->
        <!--<ion-item>-->
          <!--<ion-checkbox color="dark" checked="true"></ion-checkbox>-->
        <!--</ion-item>-->
      <!--</ion-col>-->
    <!--</ion-row>-->
    <!--<ion-row align-items-center>-->
      <!--<ion-col col-2>-->
        <!--<ion-icon style="color: #f53d3d" md="logo-angular"></ion-icon>-->
      <!--</ion-col>-->
      <!--<ion-col col-5>-->
        <!--<ion-label>Tuituti Free of 6 months</ion-label>-->
      <!--</ion-col>-->
      <!--<ion-col col-2>-->
        <!--<ion-label>30</ion-label>-->
      <!--</ion-col>-->
      <!--<ion-col col-3>-->
        <!--<ion-item>-->
          <!--<ion-checkbox color="dark" checked="true"></ion-checkbox>-->
        <!--</ion-item>-->
      <!--</ion-col>-->
    <!--</ion-row>-->
    <!--<ion-row align-items-center>-->
      <!--<ion-col col-2>-->
        <!--<ion-icon style="color: #f53d3d" md="logo-angular"></ion-icon>-->
      <!--</ion-col>-->
      <!--<ion-col col-5>-->
        <!--<ion-label>Tuituti Free of 6 months</ion-label>-->
      <!--</ion-col>-->
      <!--<ion-col col-2>-->
        <!--<ion-label>60</ion-label>-->
      <!--</ion-col>-->
      <!--<ion-col col-3>-->
        <!--<ion-item>-->
          <!--<ion-checkbox color="dark" checked="true"></ion-checkbox>-->
        <!--</ion-item>-->
      <!--</ion-col>-->
    <!--</ion-row>-->
    <!--<ion-row align-items-center>-->
      <!--<ion-col col-2>-->
        <!--<ion-icon style="color: #f53d3d" md="logo-angular"></ion-icon>-->
      <!--</ion-col>-->
      <!--<ion-col col-5>-->
        <!--<ion-label>Food 1 day</ion-label>-->
      <!--</ion-col>-->
      <!--<ion-col col-2>-->
        <!--<ion-label>60</ion-label>-->
      <!--</ion-col>-->
      <!--<ion-col col-3>-->
        <!--<ion-item>-->
          <!--<ion-checkbox color="dark" checked="true"></ion-checkbox>-->
        <!--</ion-item>-->
      <!--</ion-col>-->
    <!--</ion-row>-->
    <!--<ion-row align-items-center>-->
      <!--<ion-col col-2>-->
        <!--<ion-icon style="color: #f53d3d" md="logo-angular"></ion-icon>-->
      <!--</ion-col>-->
      <!--<ion-col col-5>-->
        <!--<ion-label>Food 1 month</ion-label>-->
      <!--</ion-col>-->
      <!--<ion-col col-2>-->
        <!--<ion-label>60</ion-label>-->
      <!--</ion-col>-->
      <!--<ion-col col-3>-->
        <!--<ion-item>-->
          <!--<ion-checkbox color="dark" checked="true"></ion-checkbox>-->
        <!--</ion-item>-->
      <!--</ion-col>-->
    <!--</ion-row>-->
    <!--<ion-row align-items-center>-->
      <!--<ion-col col-2>-->
        <!--<ion-icon style="color: #f53d3d" md="logo-angular"></ion-icon>-->
      <!--</ion-col>-->
      <!--<ion-col col-5>-->
        <!--<ion-label>Food 1 year</ion-label>-->
      <!--</ion-col>-->
      <!--<ion-col col-2>-->
        <!--<ion-label>60</ion-label>-->
      <!--</ion-col>-->
      <!--<ion-col col-3>-->
        <!--<ion-item>-->
          <!--<ion-checkbox color="dark" checked="true"></ion-checkbox>-->
        <!--</ion-item>-->
      <!--</ion-col>-->
    <!--</ion-row>-->
    <!--<ion-row style="border-top: solid black" align-items-center>-->
      <!--<ion-col col-2>-->
        <!--<label>Total:</label>-->
      <!--</ion-col>-->
      <!--<ion-col col-3 offset-3>-->
        <!--<label>30000</label>-->
      <!--</ion-col>-->
      <!--<ion-col col-2>-->
        <!--<button color="secondary" ion-button round>Donate</button>-->
      <!--</ion-col>-->
    <!--</ion-row>-->
  <!--</ion-grid>-->
<!--</ion-content>-->
