<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title class="text-center">{{'TITLE_TOP_DONATOR' | translate}}</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-list>
        <ion-item *ngFor="let item of [1, 2, 3, 4, 5]">
            <ion-avatar [slot]="'start'">
                <img [src]="'https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y'"
                     alt="user-avatar">
            </ion-avatar>
            <ion-label>
                <h2>Poe</h2>
                <h3>New Ride</h3>
                <p>I just upgraded my X-Wing. Next time...</p>
            </ion-label>
        </ion-item>
    </ion-list>

    <!--Floating action button-->
    <ion-fab [vertical]="'bottom'"
             [horizontal]="'end'">
        <ion-fab-button (click)="clickFloatingActionButton()">
            <ion-icon [name]="'add'"></ion-icon>
        </ion-fab-button>
    </ion-fab>
</ion-content>
