<ion-header>
  <ion-toolbar>
    <ion-title style="text-align: center">About Us</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-row>
    <ion-label style="text-align: center">
      DIRECTORS
    </ion-label>
  </ion-row>
  <ion-row>
    <ion-col col-6>
      <ion-row>
        <ion-img src="https://www.acfteambuilding.co.uk/images/activity_days/shooting/sniper.jpg" width="100" height="100"></ion-img>
      </ion-row>
      <ion-row>
        <ion-label>
          AB Can Director
        </ion-label>
      </ion-row>
    </ion-col>
    <ion-col col-6>
      <ion-row>
        <ion-img src="https://www.acfteambuilding.co.uk/images/activity_days/shooting/sniper.jpg" width="100" height="100"></ion-img>
      </ion-row>
      <ion-row>
        <ion-label>
          DE Fan Director
        </ion-label>
      </ion-row>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col col-6>
      <ion-row>
        <ion-img src="https://www.acfteambuilding.co.uk/images/activity_days/shooting/sniper.jpg" width="100" height="100"></ion-img>
      </ion-row>
      <ion-row>
        <ion-label>
          AB Can Director
        </ion-label>
      </ion-row>
    </ion-col>
    <ion-col col-6>
      <ion-row>
        <ion-img src="https://www.acfteambuilding.co.uk/images/activity_days/shooting/sniper.jpg" width="100" height="100"></ion-img>
      </ion-row>
      <ion-row>
        <ion-label>
          DE Fan Director
        </ion-label>
      </ion-row>
    </ion-col>
  </ion-row>
</ion-content>
