<ion-split-pane>

    <ion-menu [menuId]="'master-layout-menu'"
              [type]="'push'">
        <ion-header>
            <ion-toolbar>
                <ion-searchbar
                        type="text"
                        [(ngModel)]="keyword"
                        [showCancelButton]="shouldCancelButtonVisible">
                </ion-searchbar>
            </ion-toolbar>
        </ion-header>

        <!--Sidebar-->
        <ion-content>
            <ion-list no-lines>
                <!--Avatar-->
                <ion-item>
                    <ion-avatar [slot]="'start'">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/d/d3/User_Circle.png">
                    </ion-avatar>
                    <h2>{{profile.username}}</h2>
                </ion-item>

                <!--Menu-->
                <ion-item-divider>
                    Menu
                </ion-item-divider>

                <!--Top donator-->
                <ion-item [routerLink]="'/top-donator'"
                          [routerDirection]="'forward'">
                    <ion-icon name="leaf" slot="start"></ion-icon>
                    <span>{{'TITLE_TOP_DONATOR' | translate}}</span>
                </ion-item>

                <!--Be a volunteer-->
                <ion-item (click)="clickBeVolunteer()">
                    <ion-icon [name]="'leaf'"
                              [slot]="'start'">
                    </ion-icon>
                    <span>Be a volunteer</span>
                </ion-item>

                <!--About us-->
                <ion-item (click)="clickAboutUs()">
                    <ion-icon [name]="'leaf'"
                              [slot]="'start'">
                    </ion-icon>
                    <span>About us</span>
                </ion-item>

                <!--Child Listing Page-->
                <ion-item (click)="clickChildListing()">
                    <ion-icon [name]="'leaf'"
                              [slot]="'start'">
                    </ion-icon>
                    <span>Child Listing</span>
                </ion-item>

                <!--Personal-->
                <ion-item-divider>
                    Personal
                </ion-item-divider>

                <!--My favourites-->
                <ion-item (click)="clickMyFavourites()">
                    <ion-icon [name]="'thumbs-up'"
                              [slot]="'start'">
                    </ion-icon>
                    <span>My favourites</span>
                    <ion-badge [slot]="'end'">45</ion-badge>
                </ion-item>

                <!--My track records-->
                <ion-item (click)="clickMyTrackRecords()">
                    <ion-icon [name]="'people'"
                              [slot]="'start'">
                    </ion-icon>
                    <span>My track records</span>
                    <ion-badge [slot]="'end'">45</ion-badge>
                </ion-item>

                <!--&lt;!&ndash;Guardian&ndash;&gt;-->
                <!--<ion-item (click)="clickGuardian()">-->
                <!--<ion-icon name="people"-->
                <!--[slot]="'start'">-->
                <!--</ion-icon>-->
                <!--<span>Guardian Profile</span>-->
                <!--<ion-badge [slot]="'end'">45</ion-badge>-->
                <!--</ion-item>-->

                <!--Settings-->
                <ion-item>
                    <ion-icon [name]="'flag'"
                              [slot]="'start'">
                    </ion-icon>
                    <span>Settings</span>
                    <ion-icon [name]="'settings'"
                              [slot]="'end'"></ion-icon>
                </ion-item>

                <!--Profile-->
                <ion-item [routerLink]="'/profile'"
                          [routerDirection]="'forward'">
                    <ion-icon name="person" slot="start"></ion-icon>
                    <span>{{'TITLE_PROFILE' | translate}}</span>
                    <ion-icon [name]="'settings'"
                              [slot]="'end'"></ion-icon>
                </ion-item>

                <!--Logout-->
                <ion-item (click)="clickSignOut()">
                    <ion-icon [name]="'exit'"
                              [slot]="'start'">
                    </ion-icon>
                    <span>Sign out</span>
                </ion-item>

            </ion-list>
        </ion-content>
    </ion-menu>

    <ion-content main>
        <ion-tabs>
            <ion-tab-bar slot="top"
                         [color]="'primary'">

                <!--Hamburger button-->
                <ion-tab-button [tab]="'menu-toggle'"
                                (click)="ngMenuToggleClicked()">
                    <ion-icon [name]="'menu'"></ion-icon>
                </ion-tab-button>

                <!--Landing page-->
                <ion-tab-button [tab]="'landing-page'">
                    <ion-icon [name]="'list-box'"></ion-icon>
                </ion-tab-button>

                <!--Child listing page-->
                <ion-tab-button [tab]="'child-listing'"
                                (click)="clickChildListing()">
                    <ion-icon [icon]="'people'"></ion-icon>
                </ion-tab-button>

                <!--Message page-->
                <ion-tab-button [tab]="'message'">
                    <ion-icon [icon]="'chatboxes'"></ion-icon>
                </ion-tab-button>

                <!--Notification page-->
                <ion-tab-button [tab]="'notification'">
                    <ion-icon [icon]="'notifications'"></ion-icon>
                </ion-tab-button>
            </ion-tab-bar>
        </ion-tabs>
    </ion-content>
</ion-split-pane>


