<!--<ion-header>-->
  <!--<ion-toolbar>-->
    <!--<ion-title>-->
      <!--My Favourites-->
    <!--</ion-title>-->
  <!--</ion-toolbar>-->
<!--</ion-header>-->


<!--<ion-content padding>-->
  <!--<ion-grid>-->
    <!--<ion-row align-items-center>-->
      <!--<ion-col col-3>-->
        <!--<ion-img src="https://www.acfteambuilding.co.uk/images/activity_days/shooting/sniper.jpg" width="50" height="50">-->
        <!--</ion-img>-->
      <!--</ion-col>-->
      <!--<ion-col col-4>-->
        <!--<label>-->
          <!--School Bag-->
        <!--</label>-->
      <!--</ion-col>-->
      <!--<ion-col col-2>-->
        <!--<ion-icon name="md-arrow-round-forward"></ion-icon>-->
      <!--</ion-col>-->
      <!--<ion-col col-3>-->
        <!--<ion-img src="https://www.acfteambuilding.co.uk/images/activity_days/shooting/sniper.jpg" width="50" height="50">-->
        <!--</ion-img>-->
      <!--</ion-col>-->
    <!--</ion-row>-->

    <!--<ion-row align-items-center>-->
      <!--<ion-col col-3>-->
        <!--<ion-img src="https://www.acfteambuilding.co.uk/images/activity_days/shooting/sniper.jpg" width="50" height="50">-->
        <!--</ion-img>-->
      <!--</ion-col>-->
      <!--<ion-col col-4>-->
        <!--<label>-->
          <!--RM 150-->
        <!--</label>-->
      <!--</ion-col>-->
      <!--<ion-col col-2>-->
        <!--<ion-icon name="md-arrow-round-forward"></ion-icon>-->
      <!--</ion-col>-->
      <!--<ion-col col-3>-->
        <!--<ion-img src="https://www.acfteambuilding.co.uk/images/activity_days/shooting/sniper.jpg" width="50" height="50">-->
        <!--</ion-img>-->
      <!--</ion-col>-->
    <!--</ion-row>-->

    <!--<ion-row align-items-center>-->
      <!--<ion-col col-3>-->
        <!--<ion-img src="https://www.acfteambuilding.co.uk/images/activity_days/shooting/sniper.jpg" width="50" height="50">-->
        <!--</ion-img>-->
      <!--</ion-col>-->
      <!--<ion-col col-4>-->
        <!--<label>-->
          <!--RM 200-->
        <!--</label>-->
      <!--</ion-col>-->
      <!--<ion-col col-2>-->
        <!--<ion-icon name="md-arrow-round-forward"></ion-icon>-->
      <!--</ion-col>-->
      <!--<ion-col col-3>-->
        <!--<ion-img src="https://www.acfteambuilding.co.uk/images/activity_days/shooting/sniper.jpg" width="50" height="50">-->
        <!--</ion-img>-->
      <!--</ion-col>-->
    <!--</ion-row>-->
  <!--</ion-grid>-->
<!--</ion-content>-->
