<!--<ion-header>-->

<!--</ion-header>-->


<!--<ion-content padding>-->
  <!--<ion-grid>-->
    <!--&lt;!&ndash;<ion-row>&ndash;&gt;-->
      <!--&lt;!&ndash;<ion-segment>&ndash;&gt;-->
        <!--&lt;!&ndash;<ion-segment-button value="kittens">&ndash;&gt;-->
          <!--&lt;!&ndash;Home&ndash;&gt;-->
        <!--&lt;!&ndash;</ion-segment-button>&ndash;&gt;-->
        <!--&lt;!&ndash;<ion-segment-button value="puppies">&ndash;&gt;-->
          <!--&lt;!&ndash;Photos/Video&ndash;&gt;-->
        <!--&lt;!&ndash;</ion-segment-button>&ndash;&gt;-->
        <!--&lt;!&ndash;<ion-segment-button value="a">&ndash;&gt;-->
          <!--&lt;!&ndash;Guardian&ndash;&gt;-->
        <!--&lt;!&ndash;</ion-segment-button>&ndash;&gt;-->
      <!--&lt;!&ndash;</ion-segment>&ndash;&gt;-->
    <!--&lt;!&ndash;</ion-row>&ndash;&gt;-->
    <!--<ion-row>-->
      <!--<ion-img src="https://www.acfteambuilding.co.uk/images/activity_days/shooting/sniper.jpg" width="400" height="200">-->
      <!--</ion-img>-->
    <!--</ion-row>-->
    <!--<ion-row >-->
      <!--<ion-label style="margin-bottom: 0px">-->
        <!--Rumah Citus-->
      <!--</ion-label>-->
    <!--</ion-row>-->
    <!--<ion-row>-->
      <!--<ion-label style="margin-top: 0px; margin-bottom: 0px">-->
<!--Call us 03-12345678         Inbox Us-->
<!--</ion-label>-->
<!--</ion-row>-->
<!--<ion-row>-->
  <!--<ion-label style="margin-top: 0px">-->
    <!--Audit Component-->
  <!--</ion-label>-->
<!--</ion-row>-->
<!--</ion-grid>-->
<!--</ion-content>-->
