.background-color {
  background-color: red;
}

.text-behind-container {
  position: relative;
  text-align: center
}

.text-behind-container:before {
  content: "";
  display: block;
  border-top: solid 1px #bebebe;
  width: 100%;
  height: 1px;
  position: absolute;
  top: 50%;
  z-index: 0;
}

.text-behind-container span {
  background: #fff;
  padding: 0 10px;
  position: relative;
  z-index: 1;
}
