<ion-header>
    <ion-toolbar>
        <ion-title>
            Login to Wonderland Charity
        </ion-title>
    </ion-toolbar>
</ion-header>


<ion-content padding>

    <form name="basicLoginForm"
          #loginForm="ngForm"
          (submit)="ngOnLoginSubmitted($event)">

        <ion-fab vertical="bottom" horizontal="end" slot="fixed">
            <ion-fab-button>
                <ion-icon [icon]="'cog'"></ion-icon>
            </ion-fab-button>

            <ion-fab-list side="top">

                <!--Change ip address-->
                <ion-fab-button (click)="clickChangeHostName()">
                    <ion-icon name="globe"></ion-icon>
                </ion-fab-button>
            </ion-fab-list>
        </ion-fab>

        <ion-list>
            <ion-item>
                <ion-label position="floating">{{'TITLE_USERNAME' | translate}}</ion-label>
                <ion-input type="text"
                           name="username"
                           [(ngModel)]="basicLoginModel.username"
                           [required]="true">
                </ion-input>
            </ion-item>

            <ion-item>
                <ion-label position="floating">{{'TITLE_PASSWORD' | translate}}</ion-label>
                <ion-input type="password"
                           name="password"
                           [(ngModel)]="basicLoginModel.password"
                           [required]="true">
                </ion-input>
            </ion-item>
        </ion-list>

        <ion-grid>
            <ion-row>
                <!--Basic login-->
                <ion-col size="12">
                    <ion-button expand="full"
                                color="secondary"
                                [disabled]="loginForm.invalid" type="submit">
                        {{'TITLE_LOGIN' | translate }}
                    </ion-button>
                </ion-col>
            </ion-row>

            <!--Separator-->
            <ion-row>
                <ion-col size="12">
                    <div class="text-behind-container"><span>{{'TITLE_OR' | translate | uppercase}}</span></div>
                </ion-col>
            </ion-row>

            <!--Facebook login-->
            <ion-row>
                <ion-col size="12">
                    <ion-button color="primary"
                                expand="full"
                                (click)="clickFacebookLogin()">
                        {{'TITLE_FACEBOOK_LOGIN' | translate}}
                    </ion-button>
                </ion-col>
            </ion-row>

            <!--Google login-->
            <ion-row>
                <ion-col size="12">
                    <ion-button color="danger"
                                expand="full"
                                (click)="clickGoogleLogin()">
                        {{'TITLE_GOOGLE_LOGIN' | translate}}
                    </ion-button>
                </ion-col>
            </ion-row>

            <!--Fingerprint login-->
            <ion-row>
                <ion-col size="12">
                    <ion-button color="secondary"
                                expand="full"
                                [disabled]="!hasFingerPrintAuthenticationEnabled"
                                (click)="clickFingerprintLogin()">
                        {{'TITLE_FINGERPRINT_LOGIN' | translate}}
                    </ion-button>
                </ion-col>
            </ion-row>

        </ion-grid>
    </form>
</ion-content>
